@font-face {
  font-family: noto-mono;
  src: url("./NotoSansMono-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: noto-serif;
  src: url("./NotoSerif-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: noto-sans;
  src: url("./NotoSans-VariableFont_wdth,wght.ttf");
}

:root {
  --black: #000;
  --white: #fff;
  --bg: #fffafa;
  --bg2: #fefefa;

  --font-xs: 7px;
  --font-sm: 10px;
  --font-neutral: 12px;
  --font-md: 16px;
  --font-lg: 24px;
  --font-xlg: 32px;
  --font-xxlg: 48px;

  --space-xs: 0.25rem;
  --space-sm: 0.4rem;
  --space-md: 1.2rem;
  --space-lg: 1.8rem;
  --space-xlg: 2.5rem;

  --neutral-1: hsl(0, 0%, 93%);
  --neutral-2: hsl(0, 0%, 68%);
  --neutral-3: hsl(0, 0%, 56%);
  --neutral-4: hsl(0, 0%, 36%);
  --neutral-5: hsl(0, 0%, 22%);

  --green-1: hsl(90, 35%, 70%);
  --green-2: hsl(90, 60%, 60%);
  --green-3: hsl(90, 71%, 50%);
  --green-4: hsl(90, 80%, 45%);
  --green-5: hsl(90, 90%, 20%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #000;
    --white: #fff;
    --bg: #121212;
    --bg2: #171717;
  }

  a {
    color: var(--green-4);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--neutral-1) !important;
  }

  p {
    color: var(--neutral-2) !important;
  }
}

*,
:root,
body {
  font-family: noto-sans;
  margin: 0;
  padding: 0;
  background: var(--bg);
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

h1 {
  color: var(--neutral-5);
}

p {
  color: var(--neutral-4);
}

a {
  color: var(--green-5);
}
