@import url("base.css");

main .container {
  margin-inline: auto;
  margin-top: var(--space-md);
  width: 45svw;
  line-height: 20px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: var(--space-xs);
    letter-spacing: 1.2px;
    line-height: 44px;
  }

  h1 {
    font-size: var(--font-xxlg);
    margin-bottom: var(--space-lg);
    font-weight: 800;
  }

  h2 {
    font-size: var(--font-xlg);
    font-weight: 500;
  }

  h3 {
    font-weight: 300;
    font-size: var(--font-lg);
    margin-top: var(--space-sm);
  }

  p {
    text-indent: var(--space-lg);
    letter-spacing: 0.2px;
    line-height: 2rem;
    font-weight: 400;
    font-size: var(--font-md);
    color: var(--neutral-4);
  }

  ul {
    padding-inline: var(--space-x-leftlg);

    li {
      margin-left: var(--space-xlg);
      color: var(--neutral-5);
    }
  }

  pre {
    display: flex;
    flex-direction: column-reverse;
    padding-top: var(--font-lg);
    padding-bottom: var(--font-lg);

    code {
      border-radius: 1rem;
      border: 1px solid var(--neutral-3);
      font-size: var(--font-md);
      font-family: noto-mono;
      background: var(--bg2);
      font-weight: 400;
    }

    .copy-btn {
      height: 25px;
      padding-inline: 20px;
      background: var(--bg2);
      border-radius: 0.5rem;
      border: 1px solid var(--neutral-3);
      outline: none;
      margin-left: auto;
      color: var(--neutral-5);

    }
  }

  img {
    width: 50svw;
  }

  table {
    border-collapse: collapse;

    thead {
      background: var(--neutral-3);
      color: var(--neutral-1);
    }

    tbody {
      background: var(--neutral-4);
      color: var(--neutral-1);
    }

    th,
    td {
      padding: var(--space-sm);
      border: 1px var(--neutral-5);
    }
  }

  blockquote {
    border-left: 4px solid var(--green-2);
    padding: var(--space-md);
    margin-bottom: var(--space-lg);
    background: var(--bg2);

    p {
      text-indent: 0px;
    }
  }
}

@media (width <=600px) {
  main .container {
    width: 80svw !important;

    h1 {
      font-size: var(--font-xlg) !important;
    }

    h2 {
      font-size: var(--font-lg) !important;
    }

    h3 {
      font-size: var(--font-lg) !important;
      text-decoration: underline;
    }
  }

  @media (prefers-color-scheme: dark) {
    .container {
      color: var(--neutral-1);
    }

    p {
      color: var(--neutral-2) !important;
    }

    button {
      color: var(--neutral-1) !important;
    }

  }

}
