@import url("base.css");

main .container {
  margin-inline: auto;
  margin-top: var(--space-md);
  width: 45svw;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: var(--space-xs);
    letter-spacing: -1.2px;
  }

  h1 {
    font-size: var(--font-xlg);
    margin-bottom: var(--space-md);
    font-weight: 600;
  }

  h2 {
    font-size: var(--font-lg);
    font-weight: 500;
  }

  h3 {
    font-weight: 500;
    font-size: var(--font-lg);
    margin-top: var(--space-xlg);
  }

  p {
    text-indent: var(--space-lg);
    letter-spacing: 0.2px;
    line-height: 2rem;
    font-weight: 350;

    color: var(--neutral-4);
  }

  ul {
    padding: var(--space-xlg);

    li {
      margin: var(--space-sm);
      color: var(--neutral-5);
    }
  }

  pre {
    padding-top: var(--font-lg);
    padding-bottom: var(--font-lg);
  }

  img {
    width: 50svw;
  }

  table {
    border-collapse: collapse;

    thead {
      background: var(--neutral-3);
      color: var(--neutral-1);
    }

    tbody {
      background: var(--neutral-4);
      color: var(--neutral-1);
    }

    th,
    td {
      padding: var(--space-sm);
      border: 1px var(--neutral-5);
    }
  }
}
