@import url("./base.css");

#projects {
  width: 70svw;
  max-height: 90svh;
  margin: auto;

  .heading {
    font-size: var(--font-xlg);
  }
}

.project-container {
  align-items: center;
  padding: var(--space-xlg);

  .icon img {
    width: 50px;
  }

  .name {
    font-size: var(--font-lg);
    letter-spacing: -0.125px;
  }

  .description {
    letter-spacing: 0.1px;
  }
}

@media (width <=600px) {
  #projects {
    width: 90svw;
    overflow-y: scroll !important;
  }

}
